

services:

  backend:
    container_name: backend
    depends_on:
    - db
    build: ./backend
    restart: on-failure:6
    environment:
      - PORT_DB=3306
      - DB_NAME=Condominio
      - DB_ROOT=root
      - DB_PASS=root
      - DB_HOST=db
      - DB_DRIVE=mysql
      - DATABASE_URL=mysql://root:root@db:3306/Condominio
    ports:
      - 3000:3000
    volumes:
      - bucket_imgs:/home/backend/storage

  db:
    container_name: mysql2
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ROOT_USER: root
      MYSQL_DATABASE: Condominio
    ports:
      - 3306:3306
    volumes:
      - db_data:/data/db

volumes:
  bucket_imgs:
  db_data:

